<div class="art-content-layout">
	<div class="art-content-layout-row">
		<div class="art-layout-cell art-content">
			<article class="art-post art-article">
				<div class="art-postmetadataheader">
					<h2 class="art-postheader">Контакты</h2>
				</div>
				<div class="art-postcontent art-postcontent-0 clearfix">
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;">
					<span style="font-size: 20px;"><br></span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px;">ИП Патреев Игорь Иванович,&nbsp;УНП 691751618</span><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px;">Индекс: 223040,&nbsp;Минский район, п.Лесной,&nbsp;ул.Александрова, 6, кв.102</span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px;">Телефоны: +37529 7379222 (МТС) или +37529 3319156 (Velcom)</span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px;">Skype: PatronSuperman, Email: Patreewigor@yandex.ru</span></p><p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
				</div>
			</article>
		</div>
	</div>
</div>
