<div class="art-content-layout">
	<div class="art-content-layout-row">
		<div class="art-layout-cell art-content">
			<article class="art-post art-article">
				<div class="art-postmetadataheader">
					<h2 class="art-postheader">Договор</h2>
				</div>
				<div class="art-postcontent art-postcontent-0 clearfix">
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;">
					<span style="font-size: 20px;"><br></span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;">
						<span style="font-size: 20px; font-weight: 600;">ДОГОВОР 
						<br>на услуги разработки и обслуживания сайта
						<br>предлагается на условиях публичной оферты</span><br>
					</p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px;">г.Минск, 01 января 2016г.</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;"><span style="font-size: 20px;">ИП Патреев Игорь Иванович, в дальнейшем именуемый «Исполнитель», действующий на основании Свидетельства о государственной регистрации №0440324 от 02.12.2013г., публикует настоящие Условия, являющиеся публичной офертой (предложением) по созданию и обслуживанию для Заказчика сайта, имеющего уникальный дизайн, с одной стороны, и потребителем услуг, в дальнейшем именуемый «Заказчик», с другой стороны, заключили настоящий Договор о нижеследующем:</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">1. ПРЕДМЕТ ДОГОВОРА</span></p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;"><span style="font-size: 20px;">1.1. В соответствии с условиями настоящего Договора Исполнитель оказывает Заказчику следующую услугу: Разработка и обслуживание сайта, имеющего уникальный дизайн, добавление в функционал сайта платных дополнительных услуг. </span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;"><span style="font-size: 20px;">1.2. Услуги принимаются к учету Исполнителем сразу после оказания и носят неделимый характер.</span></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>



					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">2. МОМЕНТ ЗАКЛЮЧЕНИЯ ДОГОВОРА (АКЦЕПТ ОФЕРТЫ)</span></p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							2.1. На основании того, что текст настоящего Договора является публичной офертой (предложением заключить договор), Исполнитель и Заказчик признают, что акцептом оферты (принятием предложения заключить договор) является факт поступления денег (п.п.6.1, 6.2) от Заказчика на расчетный счет Исполнителя, либо факт покупки услуги за наличный расчет, с предоставлением чека.
						</span>
					</p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							2.2. В разделе «назначение платежа» платежного документа, заказчик обязан указать срок обслуживания сайта, платные дополнительные услуги, а также свой адрес электронной почты. 
						</span>
					</p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							2.3. Датой заключения Договора является день представления банком Исполнителя платежных документов, позволяющих идентифицировать платеж Заказчика. Исполнитель идентифицирует платеж Заказчика на основании следующих сведений из платежного документа: наименование плательщика, срока обслуживания сайта, виды дополнительных услуг.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">3. ОБЯЗАННОСТИ СТОРОН</span></p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							3.1. Исполнитель обязуется, с момента заключения Договора: 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							3.1.1 Оказать услугу по разработке и размещению сайта в соответствии с п.1.1. в течение 10 рабочих дней после заключения Договора (п.2.3).
						</span>
					</p>



					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							3.2. Заказчик обязуется:
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							3.2.1. Выполнять требования, изложенные в настоящем Договоре. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							3.2.2. Предоставить в день оплаты полный комплект материалов (фото, видео, логотипы, тематических картинок используемых в дизайне сайта с целью отражения специфики деятельности и целей заказчика в формате .jpg, .gif, .png, пожелания по цветовой гамме сайта). В случае отсутствия данных материалов у Заказчика, Исполнитель оставляет за собой право выбора материалов и информации для оказания услуг.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">4. ОТКАЗ ОТ ГАРАНТИИ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							4.1. Настоящим Заказчик принимает тот факт, что Исполнитель не владеет и не разрабатывает языки программирования, браузеры, системы управления базами данных, графические файлы и иные средства обработки информации, а также не контролирует сеть Интернет и потому предоставляет Заказчику услуги в рамках настоящего Договора. 
						</span>
					</p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							4.2. Исполнитель не дает Заказчику никаких гарантийных обязательств или заверений, явных или двусмысленных касательно использования им сайта в сети Интернет, включая (но не ограничиваясь), бесперебойность, своевременность, безопасность, безошибочность, правильность, удовлетворительное качество, точное соответствие решению конкретных задач и условий Заказчика.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">5. ОТВЕТСТВЕННОСТЬ СТОРОН</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.1. Исполнитель несет ответственность в соответствии с действующим законодательством Республики Беларусь за невыполнение своих обязательств (п.3.1) по Договору. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.2. Заказчик несет ответственность в соответствии с действующим законодательством Республики Беларусь за невыполнение своих обязательств (п.3.2) по Договору. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.3. Заказчик несет ответственность в соответствии с действующим законодательством Республики Беларусь за последствия любого рода, которые могут наступить в результате использования, им созданного сайта. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.4. Заказчик самостоятельно несет полную ответственность за ущерб любого рода, в том числе подразумеваемый и ожидаемый, который может быть получен им или третьими лицами в результате использования или невозможности использования услуг по Договору. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.5. Исполнитель предоставляет услуги по размещению и обслуживанию сайтов в сети интернет. В случае наличия доменного имени, Заказчик обязуется предоставить информацию для доступа к настройкам по эксплуатации.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.6. Стороны настоящего Договора безоговорочно соглашаются с тем, что максимальный размер убытков, которые могут быть взысканы с Исполнителя, ограничен сумой оплаченных Заказчиком Услуг, неисполнение, либо ненадлежащие исполнение которых повлекло причинение убытков.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.7. Ограничение ответственности Исполнителя, предусмотренное п.5.6 настоящего Договора, не может применяться в случаях, когда:
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.7.1. размер ответственности для данного вида обязательств или за данное нарушение определен законодательством Республики Беларусь;
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							5.7.2. неисполнение, либо ненадлежащее исполнение Исполнителем своих обязательств по настоящему Договору является следствием его прямого умысла.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">6. СТОИМОСТЬ УСЛУГ, ПОРЯДОК РАСЧЕТОВ И ОТЧЕТНОСТЬ</span></p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.1. Стоимость услуг по Договору составляет сумму в размере 1 базовой величины в месяц.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.2. Стоимость дополнительных услуг по Договору составляет сумму эквивалентной от 10 000 белорусских рублей  до 150 000 белорусских рублей в месяц, в зависимости от выбранного Заказчиком варианта дополнительной услуги – 1. Слайдер материалов, продукции, 2. Регистрация пользователей , 3.Автоматическое уведомление на электронную почту,  4. Дополнительный язык на сайте, 5. Загрузка файлов (Фотогалерея), 6. Дополнительная форма (Заказать звонок), 7. Выгрузка файлов в любых форматах, 8. Разработка уникального функционала,  указанных на странице с предложением - http://intersite.by. При этом Заказчик отправляет на адрес электронной почты Исполнителя заявку с информацией, необходимой для старта рекламной кампании.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.3. С момента заключения договора Заказчик оплачивает стоимость обслуживание сайта за 1 месяц.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.4. Услуга считается оказанной с момента запуска Заказчиком сайта.
						</span>
					</p>					

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.5. Услуга считается оказанной надлежащим образом, если Заказчик не направит Исполнителю свои претензии, оформленные в соответствии с п. 7.3 в течение трех дней с момента оказания услуги Исполнителем. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.6. Приемка оказанных услуг Заказчику не сопровождается составлением акта выполненных работ, при отсутствии претензий акт выполненных работ считается подписанным. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.7. Наполнение сайта не входит в стоимость разработки сайта. Заказчик самостоятельно занимается наполнением своего сайта по прилагаемой к разработанному сайту инструкции по обращению с сайтом. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							6.8. В случае желания Заказчика дополнительной корректировки разработанного сайта, Заказчик имеет право прислать свои пожелания по исправлению сайта. В этом случае Заказчик единоразово оплачивает 50% от стоимости обслуживания сайта в месяц.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">7. ПЕРЕПИСКА И ОТНОШЕНИЯ СТОРОН</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							7.1. Счета (счет-акты) передаются Заказчику по электронной почте на контактный адрес Заказчика, указанный в платежном поручении и являются документом, подписанным должным образом и имеющими юридическую силу. При необходимости Заказчик может получить подлинные документы у Исполнителя. 
						</span>
					</p>		

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
						7.2. Рабочая переписка (вопросы, консультации и т.п.), не носящая официальный характер, осуществляется по электронной почте либо путем переговоров.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							7.3. Официальная переписка (уведомления, предложения, претензии, заявки, требования и т.п.) в рамках Договора должна оформляться в письменном виде и передаваться противоположной стороне в виде почтового отправления, либо нарочным.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							7.4. В своих отношениях стороны руководствуются действующим законодательством Республики Беларусь. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							7.5. Все неурегулированные разногласия по Договору решаются в хозяйственном суде города Минска. Все судебные материалы и разбирательства производятся на русском языке. До предъявления иска, Сторона обязана направить письменную претензию другой Стороне, которая вправе дать письменный ответ на претензию в 15-дневный срок.
						</span>
					</p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">8. ФОРС-МАЖОР</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							8.1. В случае возникновения обстоятельств непреодолимой силы, к которым относятся стихийные бедствия, аварии, пожары, массовые беспорядки, забастовки, военные действия, противоправные действия третьих лиц, вступление в силу законодательных актов, правительственных постановлений и распоряжений государственных организаций, прямо или косвенно запрещающих указанные в Договоре виды деятельности, препятствующие осуществлению Исполнителем и/или Заказчиком своих функций по Договору, и иных обстоятельств, не зависящих от волеизъявления Исполнителя и Заказчика, они освобождаются от ответственности за неисполнение или ненадлежащее исполнение взятых на себя обязательств. Такие обстоятельства должны подтверждаться документами компетентных организаций.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">9. СРОК ДЕЙСТВИЯ ДОГОВОРА И ПОРЯДОК ЕГО РАСТОРЖЕНИЯ</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							9.1. Договор вступает в силу с даты его заключения (п.2.3) и действует до полного исполнения сторонами условий договора. 
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							9.2. Договор может быть расторгнут досрочно по письменному требованию Заказчика или по решению суда. Перерасчет стоимости оказанных (не оказанных) услуг и возврат предоплаты не производится. 
						</span>
					</p>


					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><br></p>
					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: center;"><span style="font-size: 20px; font-weight: 600;">10. РЕКВИЗИТЫ СТОРОН</span></p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							10.1. Реквизиты Исполнителя Индивидуальные предприниматель Патреев Игорь Иванович, регистрационный номер (УНП) 691751618 от 02.12.2013г., Расчетный счет №3013105208009, В ОАО «Банк БелВЭБ», код 226, Электронная почта: patreewigor@yandex.ru Телефон: 80297379222 (МТС) или 80293319156 (VELCOM).
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							10.2. Реквизиты Заказчика
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							10.2.1. Свои реквизиты Заказчик отсылает на электронную почту, указанную в реквизитах Исполнителя на этапе подачи заявки на предоставление услуги.
						</span>
					</p>	

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							10.2.2. Заказчик принимает тот факт, что указанные им реквизиты будут использоваться Исполнителем для официальных отношений с ним и несет ответственность за достоверность представленной информации.
						</span>
					</p>

					<p style="margin-top: 0px; margin-bottom: 0px; word-spacing: 0px; text-align: justify;">
						<span style="font-size: 20px;">
							10.3. О факте изменения реквизитов стороны уведомляют друг друга в соответствии с пунктом 7.3 настоящего договора.
						</span>
					</p>


				</div>
			</article>
		</div>
	</div>
</div>