
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader">Наши проекты</h2>
                                                            
                                    </div>
                                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job1.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 34%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job2.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job3.jpg"><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job4.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 34%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job5.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job6.jpg"><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job7.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 34%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job8.jpg"><br></p>
    </div><div class="art-layout-cell" style="width: 33%" >
        <p style="text-align: center;"><img width="400" height="225" alt="" class="art-lightbox" src="/assets/job9.jpg"><br></p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div>
    