
<div class="art-content-layout">
  <div class="art-content-layout-row">
    <div class="art-layout-cell art-content"><article class="art-post art-article">
      <div class="art-postmetadataheader">
        <h2 class="art-postheader">Заказы</h2>

      </div>
      <div class="art-postcontent art-postcontent-0 clearfix">




        <% @orders.each do |order| %>
        <div style="text-align: center;">
          <%= order.title %>
          <p>

           <% if user_signed_in? %>
           <% if current_user.email == 'patreewigor@yandex.ru' %>

           <%= link_to 'Show', order %>
           <%= link_to 'Edit', edit_order_path(order) %>
           <%= button_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
           <% end %>
           <% end %>

           <% end %>

         </div>
         <br>

       </div>



     </article></div>
   </div>
 </div>